.categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	@include tablet {
		flex-direction: column;
	}
	&__column {
		flex-basis: calc(25% - 3rem);
		flex-shrink: 0;
		@include tablet {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex-wrap: wrap;
		}
	}
}
