.modal {
	position: absolute;
	background-color: $color-white;
	left: $padding-main;
	top: calc(#{$padding-main} * 1.5);
	z-index: 2;
	width: calc(100% - #{$padding-main}* 2);
	border-radius: 2rem;
}
