.section {
  padding: 10rem $padding-main 2rem $padding-main;
  position: relative;
  // z-index: 99;
  @include tablet {
    padding: 6rem $padding-main 2rem $padding-main;
    text-align: center;
  }
  @include phone {
    padding: 4rem $padding-main 2rem $padding-main;
  }
  @include container;
  &__title {
    font-weight: $font-bold;
    width: 50%;
    color: #343432;
    margin-bottom: 5rem;
    @include breakpoint(1024) {
      width: 100%;
    }
    @include tablet {
      width: 100%;
      margin-bottom: 3rem;
    }
    &--gradient {
      background-image: linear-gradient(
        to right,
        $color-secondary,
        $color-primary-light
      );
      -webkit-background-clip: text;
      color: transparent;
    }
  }
  &--center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &--left &__title {
    width: 100%;
  }
  &--tradieTV {
    background: linear-gradient(
      180deg,
      #fff9f1 0%,
      rgba(255, 255, 255, 0) 52.36%
    );
    max-width: 100%;
  }
  &--sign-up {
    padding-top: 0;
    padding-bottom: 10rem;
  }
  &--our-partner {
    position: relative;
    background: linear-gradient(180deg, rgb(255 249 241) -13.38%, #fff9f1 100%),
      #ffffff;
    &::before {
      position: absolute;
      content: "";
      @include squire(30%);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $color-secondary;
      mix-blend-mode: normal;
      opacity: 0.4;
      filter: blur(30rem);
      z-index: 0;
    }
    &::after {
      position: absolute;
      content: "";
      @include squire(40%);
      bottom: 0;
      left: 0;
      background: #f7d2a1;
      mix-blend-mode: normal;
      opacity: 0.4;
      filter: blur(30rem);
      z-index: 0;
    }
  }
  &--htws {
    padding-bottom: 10rem;
  }
  &--tradie-profile {
    background: linear-gradient(178.88deg, #ffffff -6.73%, #fff9f1 99.04%);
  }
  &--user-profile {
    clip-path: inset(0 0 -100% 0);
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $color-secondary;
      mix-blend-mode: normal;
      opacity: 0.08;
      filter: blur(30rem);
      z-index: 0;
    }
  }
  &--calender {
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: calc(50% + 16rem);
      left: 50%;
      transform: translate(-50%, -50%);
      background: $color-secondary;
      mix-blend-mode: normal;
      opacity: 0.1;
      filter: blur(30rem);
      clip-path: inset(0 0 12rem 0);
      z-index: 0;
      @include phone {
        clip-path: inset(0 0 14rem 0);
      }
    }
  }
  &--tradie-my-profile,
  &--membership {
    background: linear-gradient(178.88deg, #ffffff -6.73%, #fff9f1 99.04%);
    clip-path: inset(0 0 -100% 0);
    &::before {
      position: absolute;
      content: "";
      @include squire(20%);
      background: $color-secondary;
      mix-blend-mode: normal;
      opacity: 0.4;
      filter: blur(30rem);
      z-index: 0;
    }
    max-width: 100%;
  }
  &--register-tradie {
    @include bg-gradient-dark;
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 20px;
  }
}

.services-title-about {
  margin-bottom: 0;
}

@media only screen and (max-width: 1024px) {
  .section--sign-up {
    padding: 10px;
  }
  .nav__left {
    img {
      height: 85%;
    }
  }
  .sign-up-form__navigation {
    padding: 10px;
  }
}
.css-1a4cg4j-MuiButtonBase-root-MuiTab-root {
  font-size: 1.3rem !important;
}
.map-list {
  margin-bottom: 20px;
  width: 100%;
  display: inline-block;
  .map-list {
    display: inline-block;
    width: 100%;
  }
  .map-select {
    display: inline-block !important;
    float: right;
    padding: 0 !important;
    @include tablet {
      width: 100%;
      float: none;
    }
  }

  .list-tab-map-show {
    display: inline-block !important;
    float: left;
    @include phone {
      width: 100%;
      float: none;
    }
  }

  .css-1a4cg4j-MuiButtonBase-root-MuiTab-root {
    font-family: "GT Walsheim Pro" !important;
    font-size: 16px !important;
    padding: 0;
    width: 210px;
    height: auto;
    background-image: linear-gradient(90.6deg, #f7bc9e 7.37%, #f6ccb6 107.16%);
    margin-right: 10px;
    border-radius: 10px;
    min-height: 35px !important;
    @include phone {
      width: 150px;
      margin: auto;
    }
  }
  .css-1mrn996 {
    font-family: "GT Walsheim Pro" !important;
    font-size: 16px !important;
    padding: 0;
    width: 210px;
    height: auto;
    background-image: linear-gradient(90.6deg, #f7bc9e 7.37%, #f6ccb6 107.16%);
    margin-right: 10px;
    border-radius: 10px;
    min-height: 35px !important;
    @include phone {
      width: 150px;
      margin: auto;
    }
  }
  .css-1a4cg4j-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #fff !important;
    background-image: linear-gradient(96.33deg, #db5b1b 0%, #ec9422 109.53%);
  }
  .css-1mrn996.Mui-selected {
    color: #fff !important;
    background-image: linear-gradient(96.33deg, #db5b1b 0%, #ec9422 109.53%);
  }
  .css-11yukd5-MuiTabs-indicator {
    background-color: #ec9422 !important;
    margin-right: 10px;
    display: none;
  }
  .css-axpu1l {
    background-color: #ec9422 !important;
    margin-right: 10px;
    display: none;
  }
}

.map-select {
  button {
    @include phone {
      width: 120px;
      padding: 10px 0;
    }
  }
}

.find-info-modal {
  display: flex;
  align-items: center;
  @include tablet {
    display: block;
  }

  .profile-icon {
    width: 50px;
    height: 50px;
    @include tablet {
      margin: auto;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 50px;
      margin-right: 10px;
      cursor: pointer;
      object-fit: cover;
    }
  }
  h2 {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    @include tablet {
      text-align: center;
      margin: 10px 0;
    }
    p {
      font-size: 13px;
      display: flex;
      @include tablet {
        display: block;
      }
      span {
        background-color: #de661c;
        color: #fff;
        width: 30%;
        border-radius: 15%;
        margin-left: 5px;
        padding-left: 2px;
        @include tablet {
          display: block;
          margin: 5px auto 0;
        }
      }
    }
  }
  button {
    margin-left: 20px;
  }
}
.more-section-services {
  color: #fff !important;
}
.tradietv-boarder {
  background: linear-gradient(
    180deg,
    #fff9f1 0%,
    rgba(255, 255, 255, 0) 52.36%
  );
  border: 1px solid #000000;
  margin: 20px 0;
}

.tradietv-title {
  position: relative;
  background-color: #fff;

  &:before {
    content: "";
    background-image: none !important;
  }
  &::after {
    content: "";
    background-image: none !important;
  }
}
