body {
  overflow-y: hidden;
}
.section-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0;
  position: relative;
  @include container;
  // z-index: 10;
  $this: &;
  &__title {
    //z-index: 1;
    font-weight: $font-bold;
    position: relative;
    font-size: 52px;
    color: #343432;
    span {
      background-image: linear-gradient(
        to right,
        rgb(177 109 182),
        rgb(197 131 158) 100%
      );
      -webkit-background-clip: text;
      color: transparent;
    }
    &-before {
      position: absolute;
      margin-left: -24px;
      top: -1.5rem;
      @include phone {
        @include squire(4rem);
        left: -2rem;
        top: -1.5rem;
      }
    }
    &-after {
      position: absolute;
      bottom: -5rem;
      @include tablet {
        max-width: 10rem;
        right: 0;
      }
    }
  }
  &__sub-title {
    font-weight: $font-bold;
    color: #000;
  }
  &__after,
  &__before {
    position: absolute;
    content: "";
    display: block;
    width: 40%;
    height: 100%;
    z-index: 0;
    svg,
    img {
      @include squire(100%);
      z-index: 0;
    }
  }
  &__before {
    top: 0;
    right: 0;
  }
  &__after {
    bottom: -15rem;
    left: -12%;
    @media only screen and (min-width: 118.75em) {
      display: none;
    }
  }
  &__ellipse {
    position: absolute;
    width: 40%;
    top: 50%;
    z-index: 0;
    &--1 {
      right: 12%;
    }
    &--2 {
      right: 10%;
    }
  }
  &--directory {
    #{$this}__before {
      @include squire(100%);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &--tradieTV {
    padding-bottom: 15rem;
    @include tablet {
      padding-bottom: 5rem;
    }
    #{$this}__title {
      text-align: center;
      width: 65%;
      @include tablet {
        width: 90%;
      }
      @include phone {
        width: 100%;
      }
    }
  }
  &--articles {
    padding-bottom: 15rem;
    @include tablet {
      padding-bottom: 8rem;
    }
    @include phone {
      padding-bottom: 4rem;
    }
    #{$this}__title {
      text-align: center;
      width: 60%;
      @include tablet {
        width: 80%;
        margin: 0;
      }
    }
    #{$this}__before {
      width: 100%;
      height: 300%;
      top: -50%;
      right: -20%;
    }
  }
  &--modal {
    align-items: flex-start;
    padding: $padding-main;
    width: 50%;
    @include breakpoint(1024) {
      padding: calc(#{$padding-main} / 2);
    }

    @include tablet {
      width: 60%;
      padding: $padding-main;
    }
    @include phone {
      width: 70%;
    }
    #{$this}__title {
      margin-left: 0;
    }
    #{$this}__title-after {
      bottom: 50%;
      right: -5rem;
      transform: translateY(50%);
      @include tablet {
        right: initial;
        left: 100%;
      }
    }
  }
  &--about-us {
    #{$this}__title-after {
      top: 50%;
      right: 100%;
      transform: rotateY(180deg);
    }
  }
  &--htws,
  &--user-profile,
  &--contact,
  &--tradie-my-profile,
  &--membership {
    padding-bottom: 10rem;
    @include tablet {
      padding-bottom: 8rem;
    }
    @include phone {
      padding-bottom: 4rem;
    }
  }

  &--contact {
    #{$this}__title-after {
      top: 50%;
      right: 100%;
      transform: rotateY(180deg);
    }
  }
  &__autoCompleteSearch {
    position: relative;
  }

  &__autocomplete-search-dropDown {
    position: absolute;
    top: 33px !important;
    left: -10px !important;
    background-color: #ffffff;
    width: 290px;
    padding: 0px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.295);
  }
  &__autocomplete-search-items {
    // border-bottom: 1px solid #d1cfcf54;
    margin: 10px 0px;
    width: 100%;
    padding: 4px;
    font-size: 14px;
  }
  &__svg-and-location {
    padding: 5px 10px;
    border-bottom: 1px solid #d1cfcf54;
  }
  &__svg-and-location:hover {
    background-color: rgb(238, 238, 238) !important;
  }
  &__autocomplete-search-items::first-letter {
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
  }
  &__autocomplete-search-category {
    position: absolute;
    top: 45px;
    left: -10px;
    background-color: #ffffff;
    padding: 8px 15px;
    width: 45%;
    margin: 5px 18px;
    height: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.116);
    overflow-y: auto;
    z-index: 1;
    // z-index: 9990 !important;
    @include phone {
      width: 100%;
      left: -20px;
      // height: 250px;
      top: 40px;
    }
    @include tablet {
      width: 100%;
      left: -20px;
      height: 250px;
      top: 40px;
    }
  }
  &__search-category-Listitems {
    text-decoration: none !important;
  }
  &__search-category-Listitems > * {
    display: flex;
    color: grey;
    flex-direction: column;
    margin: 10px 0px;
    padding: 10px 5px;
  }
  &__search-category-Listitems span {
    text-transform: capitalize;
  }
  &__search-category-Listitems :hover {
    color: grey;
    background-color: rgb(238, 238, 238);
  }
  .section-heading {
    padding-bottom: 50px;
    width: 100%;
    text-align: center;

    .header-form {
      margin: 100px auto 150px;
    }
  }
  &:before {
    position: absolute;
    content: "";
    right: 0;
    background-image: url(../../assets/images/Group113.svg);
    bottom: 0;
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &:after {
    position: absolute;
    content: "";
    left: 0;
    background-image: url(../../assets/images/shapes-1.svg);
    top: 0;
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet {
      width: 100%;
    }
  }
}
.section-slider {
  display: flex;
  margin: 100px auto;
  align-items: center;
  justify-content: center;
  @include tablet {
    margin: 50px auto;
  }
}
.articles-slider-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  position: relative;
  padding: 160px 0;
  @include tablet {
    padding: 50px 0;
  }

  &:before {
    position: absolute;
    content: "";
    right: 0;
    background-image: url(../../assets/images/Group113.svg);
    top: -50px;
    width: 47%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.about-section-top {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 120px 0;
  @include tablet {
    margin: 50px auto;
  }
  .section-top__title-after {
    top: 40%;
    right: 100%;
    transform: rotateY(180deg);
    margin-right: 20px;
  }
}
.directory-top-section {
  align-items: center;
  margin: auto;
  padding: 80px 0;
  text-align: center;
  justify-content: center;
  position: relative;
}

.directory {
  padding: 100px 0 80px !important;
}
.privacypolicy {
  padding-bottom: 0 !important;
}

.residential-commercial {
  .on {
    padding: 1rem 1.3rem !important;
    border: 0.25px solid #000000 !important;
    color: #000000 !important;
    cursor: pointer;
  }
}
// Responsive Css
@media screen and (max-width: 1200px) {
  .section {
    padding: 0 20px;
  }
  .location-srch {
    width: 100%;
    margin-bottom: 10px;
  }
  .residential-btn {
    width: 200px !important;
  }
  .header {
    padding: 30px 20px;
  }
  // .section-top__title-before {
  //   left: 13rem;
  // }
  .user-profile {
    .tradie-profile__name {
      a {
        position: absolute;
        right: 0;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .section-top__title {
    font-size: 52px;
    width: 70%;
    margin: auto;
    text-align: center;
  }
  .user-profile {
    .tradie-profile__name {
      a {
        position: absolute;
        right: 20px;
      }
    }
  }
  .articles-slider-section {
    padding: 50px 0;
  }
  .section-top__title-before {
    left: 0;
  }
  .search-form {
    width: 620px;
  }

  .section-top {
    .section-heading {
      .header-form {
        margin: 50px auto;
      }
    }
  }
  .trending-services__item {
    min-width: 34rem;
  }
  .features {
    display: block !important;
  }
  .professional-tradie__image {
    flex-basis: 47%;
    left: 0px;
  }
  .professional-tradie__title {
    font-size: 35px;
    line-height: 52px;
    text-align: left;
  }
  .download-app__customers {
    h2 {
      font-size: 3.2rem;
    }
  }
  .download-app__tradies {
    h2 {
      font-size: 3.2rem;
    }
  }
  .about-section-top {
    .section-top__title-after {
      right: 60%;
    }
  }
}
@media screen and (max-width: 767px) {
  .event {
    text-align: left;
  }
  .user-profile .tradie-profile__name a {
    position: absolute;
    right: 30px;
    top: 21px;
  }
  .tradie-profile__name {
    position: relative;
  }
  li.nav__item {
    width: 100%;
  }
  .professional-tradie__title {
    font-size: 31px;
    line-height: 44px;
    text-align: left;
  }
  .booking-section1 {
    padding: 39px 0 50px;
  }
  .section-top__title {
    font-size: 45px;
    width: 80%;
  }
  .nav__menu {
    .nav__item {
      margin: 10px;
    }
  }
  .directory-top-section {
    padding: 50px 0;
  }
  .section-top__title-before {
    left: -20px;
  }
  .search-form__address svg {
    position: absolute;
    left: 4px;
    top: 15px;
  }
  input.section-top__autocomplete-search-input {
    background: transparent;
  }
  .services-title-about {
    margin-bottom: 3rem !important;
  }

  .about-section-top {
    .section-top__title-after {
      right: 68%;
    }
  }
  .popular-article--first {
    .popular-article__info {
      text-align: left;
    }
  }
  .popular-articles__more {
    text-align: left;
  }
}
@media screen and (max-width: 575px) {
  .search-form {
    width: 360px !important;
  }
  .calender__back {
    position: absolute;
    left: 10px;
    top: 0 !important;
  }
  .section-top__title {
    font-size: 37px !important;
  }
  .professional-tradie {
    display: block;
  }
  .search-form__address label {
    top: 15px;
  }
  .booking-section1 {
    .booking-section1_row {
      .booking-section1_col1 {
        float: none;
        .white-box-radius {
          padding: 20px;
          width: auto;
          text-align: center;
          margin: auto;
        }
      }
    }
  }
  .booking_status_service_list_btn {
    margin: auto;
  }
  .booking-section1_col2 {
    margin-top: 20px;
    margin-left: 0;
  }
  .booking-section1 {
    .booking-section1_row {
      .booking-section1_col2 {
        .booking-section1_inner_row {
          display: block;
        }
      }
    }
  }
  .booking-section1_col3 {
    .list-box {
      width: 100% !important;
    }
  }
  .list-box_online {
    position: absolute !important;
    // bottom:none;
    right: 30px;
  }
  .event__when-where {
    font-size: 13px;
  }
  .event {
    text-align: left;
  }
}
.professional-tradie {
  @include phone {
    display: block;
  }
}
@media only screen and (max-width: 440px) {
  .event__when-where {
    font-size: 18px;
    text-align: center;
  }

  .section-top__title {
    font-size: 52px;
    width: 100%;
    margin: auto;
  }
  .section-top__title-before {
    left: 30px;
  }
}

.text-left {
  text-align: left;
}

.swal2-title {
  font-size: 2.875em !important;
}
.swal2-icon {
  width: 8em !important;
  height: 8em !important;
}
.swal2-styled.swal2-confirm {
  font-size: 1.5em !important;
}
.swal2-styled.swal2-cancel {
  font-size: 1.5em !important;
}
.swal2-popup {
  width: 45em !important;
}
.directory-title {
  color: #343432 !important;
}

.sign-up-form__navigation {
  .active {
    &:after {
      content: "" !important;
    }
  }
}
.p-0 {
  padding: 0 !important;
}
.today-color {
  background-image: linear-gradient(90deg, #e3b096, #efa580 200%) !important;
}
.home-title {
  font-size: 72px !important;
  @include tablet{
    font-size: 40px !important;
  }
}
